.bg-image {
  background-image: url('/TAPA.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; /* Establece la altura del contenedor para ocupar toda la pantalla */
}
.cursor-pointer {
  cursor: pointer;
}
.list-category>li{
  cursor:pointer;
  padding: 5px;
  font-weight: bold;
  background-color: #ff8181;
}
ul.option-hover>li:hover{
  /* box-shadow: 10px 10px; */
  padding: 10px;
  background-color: rgb(235, 235, 235);
} 
.active-option{
  padding: 10px;
  background-color: rgb(235, 235, 235);
}